<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
            <h1 class="mx-auto my-0">pOxisFX TRADING</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5" style="font-weight: bold;">
                Master the art of trading with me! Dive into hands-on guides and tips, where complex strategies turn into easy wins! <i class="fa-solid fa-arrow-trend-up"></i>
              </h2>
              <a class="btn btn-primary" href="#projects">Learn more</a>
          </div>
      </div>
  </div>
</header>
