<div class="schedule-table">
  <table class="table bg-white">
    <thead>
      <tr>
        <th>Måndag</th>
        <th>Tisdag</th>
        <th>Onsdag</th>
        <th>Torsdag</th>
        <th>Fredag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <button class="darkgreen-button">
            10.00
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="darkgreen-button">
            10.30
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="darkgreen-button">
            11.00
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="darkgreen-button">
            11.30
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="darkgreen-button">
            12.00
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="darkgreen-button">
            12.30
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="darkgreen-button">
            13.00
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
